<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{.Metadata.Description}}" />
    <!-- <meta name="keywords" content="keyword1, keyword2, keyword3">
    <meta name="author" content="Your Name or Company"> -->

    <!-- Open Graph / Facebook Meta Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{.Metadata.Title}}" />
    <meta property="og:description" content="{{.Metadata.Description}}" />
    <meta property="og:url" content="{{.DestinationUrl}}" />
    <meta property="og:image" content="{{.Metadata.Image}}" />
    <!-- <meta property="og:image:alt" content="Description of the image">
    <meta property="og:site_name" content="Your Site Name"> -->

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{.Metadata.Title}}" />
    <meta name="twitter:description" content="{{.Metadata.Description}}" />
    <meta name="twitter:image" content="{{.Metadata.Image}}" />
    <!-- <meta name="twitter:image:alt" content="Description of the image">
    <meta name="twitter:site" content="@YourTwitterHandle">
    <meta name="twitter:creator" content="@CreatorTwitterHandle"> -->

    <!-- LinkedIn and General Meta Tags -->
    <meta property="og:locale" content="en_US" />
    <!-- <meta property="article:author" content="https://www.linkedin.com/in/your-profile"> -->

    <!-- Google / Search Engine Tags -->
    <meta
      name="google-site-verification"
      content="your-google-verification-code" />
    <meta name="robots" content="index, follow" />

    <!-- Title -->
    <title>{{.Metadata.Title}}</title>

    <!-- Additional Custom Meta Tags (if needed) -->
    <!-- Add any additional meta tags here -->
  </head>
  <body>
    <!-- Your content goes here -->
  </body>
</html>
